body {
    background-color: #F1F3F5;
}

.top{
    display: flex;
    justify-content: space-between;
    padding-bottom: 4em;
}

h1 {
    text-align: center;
}

p {
    text-align: center;
}

.search {
    text-align: center;
}